{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        .setfont{
            font-size: 20px;
            font-family: "Times New Roman";
        }
        .heade{
            font-size:27px;
            font-family: Constantia;
            font-weight: bolder;
        }
        .browser {
            background: white;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
    <div class="browser">
         <img src="{{ url_for('static', filename='images/download.png') }}">
        <div class="setfont">Flask is a web framework, it’s a Python module that lets you develop web applications easily. It’s has a small and easy-to-extend core: it’s a microframework that doesn’t include an ORM (Object Relational Manager) or such features.</div>

    </p>
    </div>
    <div class="browser">
    <div class="heade">Web Framework</div>
    <div class="setfont">A Web Application Framework or a simply a Web Framework represents a collection of libraries and modules that enable web application developers to write applications without worrying about low-level details such as protocol, thread management, and so on.
    </div>
    </div>
     <div class="browser">
    <div class="heade">WSGI</div>
    <div class="setfont">Web Server Gateway Interface (WSGI) has been adopted as a standard for Python web application development. WSGI is a specification for a universal interface between the web server and the web applications.
    </div>
    </div>
     <div class="browser">
    <div class="heade">Jinja2</div>
    <div class="setfont">Jinja2 is a popular templating engine for Python. A web templating system combines a template with a certain data source to render dynamic web pages.

Flask is often referred to as a micro framework. It aims to keep the core of an application simple yet extensible. Flask does not have built-in abstraction layer for database handling, nor does it have form a validation support. Instead, Flask supports the extensions to add such functionality to the application.
    </div>
    </div>
{% endblock %}
