{% extends "base.html" %}
{% block title %}inventor{% endblock %}
{% block head %}
 {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        .setfont{
            font-size: 20px;
            font-family: "Times New Roman";
        }
        .heade{
            font-size:27px;
            font-family: Constantia;
            font-weight: bolder;
        }
        .browser {
            background: white;
        }
    </style>
{% endblock %}
{% block content %}
<div class="browser">

        <h2 style="font-size:30px;">Vinf Cerf</h2>
        <p class="p1"> Vint Cerf invented the demo protocol that rules them all: TCP/IP. Most people have never heard of it.
            But it describes the fundamental architecture of the internet, and it made possible Wi-Fi, Ethernet, LANs,
            the World Wide Web, e-mail, FTP, 3G/4G -- as well as all of the inventions built upon those inventions.
            Cerf did that in 1973. For most of you that's probably 20 years before you even knew what the internet was.
            That's why he's known as the father of the internet and earned himself a Presidential Medal of Freedom.
            Cerf didn't stop there — he went on to co-find the Internet Society (ISOC) and served as president of ICANN,
            the organization which operates the domain naming system.
            Prior to rejoining MCI in 1994, Cerf was vice president of the Corporation for National Research Initiatives (CNRI). As vice president of MCI Digital Information Services from 1982-1986, he led the engineering of MCI Mail, the first commercial email service to be connected to the Internet. During his tenure from 1976-1982 with the U.S. Department of Defense's Advanced Research Projects Agency (DARPA), Cerf played a key role leading the development of Internet and Internet-related packet data and security technologies.So, it was pretty much a given that Cerf would be inducted,
            as he was on Monday, into ISOC's internet Hall of Fame in its inaugural year.He also served from 2000-2007 as chairman of the board of the Internet Corporation for Assigned Names and Numbers (ICANN), an organization he helped form.
            Cerf served as founding president of the Internet Society from 1992-1995, and in 1999 served a term as Chairman of the Board.His personal interests include fine wine, gourmet cooking and science fiction. Cerf and his wife, Sigrid, were married in 1966 and have two sons, David and Bennett.</p>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="browser">
        <h2 style="font-size:30px;">Robert Elliot Kahn</h2>
        <p class="p1">Robert Kahn is the co-inventor of the TCP/IP protocols and was responsible for originating DARPA’s Internet program. Known as one of the “Fathers of the Internet,” Kahn demonstrated the ARPNET by connecting 20 different computers at the International Computer Communication Conference.
            While working on the SATNET satellite packet network project, he came up with the initial ideas for what later became the Transmission Control Protocol (TCP), which was intended as a replacement for an earlier network protocol, NCP, used in the ARPANET. TCP played a major role in forming the basis of open-architecture networking, which would allow computers and networks all over the world to communicate with each other, regardless of what hardware or software the computers on each network used.
            It was then that people realized the importance of packet switching technology.
            While Director of Information Processing Techniques Office (IPTO) at DARPA, he initiated the United States government's billion-dollar Strategic Computing Program, the largest computer research and development program ever undertaken by the federal government. Dr. Kahn conceived the idea of open-architecture networking and coined the term National Information Infrastructure (NII) in the mid-1980s, which later became more widely known as the Information Superhighway.
            In December 1997, President Bill Clinton presented the U.S. National Medal of Technology to Kahn and his colleague, Vinton Cerf, for founding and developing the Internet. In 2004, Kahn was the recipient of the ACM Alan M. Turing award (sometimes called the “Nobel Prize of Computer Science”) and in 2005 he was given the Presidential Medal of Freedom by President George Bush.
    </div>

{% endblock %}
